<p>List of models optimized for Portuguese (both Brazilian and European varieties), focusing on architectures with <strong>at least 1 billion parameters</strong>.</p>

<p>When appropriate, the models are grouped into <strong>“families”</strong>. The information presented for each model includes: name, release date, license, Portuguese variety, size, base model, weights, variations, training data, data cutoff date, associated API, online chat, and development team.</p>

<p>Click on the family name to access information about each language model variant.</p>
