Lista de modelos otimizados para o português (variedades brasileira e europeia), com foco em arquiteturas de <strong>pelo menos 1 bilhão de parâmetros</strong>.

Quando apropriado, os modelos estão agrupados por <strong>"famílias"</strong>. As informações apresentadas sobre cada modelo incluem: nome, data de lançamento, licença, variante do português, tamanho, modelo base, pesos, variações, dados de treinamento, data de corte dos dados, API associada, chat online, equipe de desenvolvimento.

Clique no nome da família para acessar as informações de cada variante de modelo de linguagem.
