<details style="margin-bottom: 1.2em; padding: 0.8em 1em; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9;">
    <summary style="font-weight: bold; color: #01484e; font-size: 1.1em; cursor: pointer;display:list-item;">{{ model.name }}</summary>
    <ul style="margin-top: 0; margin-bottom: 0.2em; padding-left: 1.2em;">

        <li>
            Nome:
            <strong>
            {% if model.url %}
                <a href="{{ model.url }}"> {{ model.name }} </a>
            {% else %}
                {{ model.name }}
            {% endif %}
            </strong>
        </li>

        {% if model.release_date %}
        <li>
            Lançamento:
            {% if model.release_date == 'future' %}
                futuro
            {% elif model.release_date %}
                {{ model.release_date }}
            {% endif %}
        </li>
        {% endif %}

        {% if model.license %}
        <li>
            Licença:
            {% if model.license == 'proprietary' %}
                Proprietária
            {% else %} {# other licenses are not translated #}
                {{ model.license }}
            {% endif %}
        </li>
        {% endif %}


        <li>
            Tamanho:
            {% if model.size %}
                {{ model.size }}
            {% else %}
                não encontrado
            {% endif %}
        </li>


        {% if model.base_model %}
        <li>
            Modelo-base:
            {{ model.base_model }}
        </li>
        {% endif %}

        {% if model.knowledge_cutoff %}
        <li>
            Data de corte dos dados:
            {{ model.knowledge_cutoff.date }}
            {% if model.knowledge_cutoff.type == 'possibly_later' %}
                ou posterior
            {% elif model.knowledge_cutoff.type == 'possibly_earlier' %}
                ou anterior
            {% endif %}
        </li>
        {% endif %}

        <li>
            Equipe:
            <ul>
            {% for o in model.origin %}
                <li>
                    {% if o.url %}
                        <a href="{{ o.url }}"> {{ o.name }} </a>
                    {% else %}
                        {{ o.name }}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>

        {% if model.training_data %}
            <li>
                Dados de treinamento:
                <ul>
                {% for t in model.training_data %}
                    <li>
                        {% if t.url %}
                            <a href="{{ t.url }}"> {{ t.name }} </a>
                        {% else %}
                            {{ t.name }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if model.language_varieties %}
        <li>
            Variante{% if model.language_varieties | length >= 2%}s{% endif %} do idioma:
            {% for lv in model.language_varieties %}
                {% if loop.index > 1 %} + {% endif %}
                {% if lv == 'pt-BR' %}
                    português brasileiro
                {% elif lv == 'pt-PT' %}
                    português europeu
                {% elif lv == 'gl-ES' %}
                    galego
                {% else %}
                    {{ lv }}
                {% endif %}
            {% endfor %}
        </li>
        {% endif %}

        {% if model.model_id %}
        <li>
            ID do modelo:
            <code>{{ model.model_id }}</code>
        </li>
        {% endif %}

        {% if model.weight_availability %}
            <li>
                Disponibilidade dos pesos:
                {% if model.weight_availability.available_now %}
                    <a href="{{ model.weight_availability.url }}">sim</a>
                {% elif model.weight_availability.planned %}
                    pendente
                {% else %}
                    não
                {% endif %}
            </li>
        {% endif %}

        {% if model.public_api_availability %}
        <li>
            API associada:
            {% if model.public_api_availability.available_now %}
                <a href="{{ model.public_api_availability.url }}">sim</a>
            {% elif model.public_api_availability.planned %}
                pendente
            {% else %}
                não
            {% endif %}
        </li>
        {% endif %}

        {% if model.online_chat_availability %}
        <li>
            Chat online:
            {% if model.online_chat_availability.available_now %}
                <a href="{{ model.online_chat_availability.url }}">sim</a>
            {% elif model.online_chat_availability.planned %}
                pendente
            {% else %}
                não
            {% endif %}
        </li>
        {% endif %}

    </ul>
</details>
