@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Droid+Serif|PT+Sans);

body {
	font-family: "PT Sans",sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #1094ab;
}
.entry-title::before {
    background: #1094ab none repeat scroll 0 0;
    width: 50%;
	color:#1094ab;
}
.entry-title::after {
    background: #fff none repeat scroll 0 0;
    width: 50%;
}
.widget-title, .widget-title a {
}
.entry-title, .entry-title a {
    color: #1597ab;
	font-family: "Droid Serif",serif;
	font-weight: normal;
    font-size: 36px;
	line-height: 39px;
}
#primary header {
	margin-top: 30px;
}
.content-left-wrap {
	padding-top: 0px;
}
.entry-content {
	margin: 0em 0 0;
	line-height: 24px;
}
.entry-meta {
	padding-bottom: 10px;
}

.large-container .entry-content p {
	text-align: left;
}
.entry-content p {
	text-align: left;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 17px;
	color:#333;
}
.resumopost {
	font-size: 18px;
	font-style: italic;
	color:#666;
	padding-top: 15px;
	width: 70%;
}

.plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea {
	color:#FFF !important;
	font-size: 12px;
}

.entry-title,
.entry-title a,
.widget-title,
.widget-title a{
	line-height: normal;
}